<div class="container">

  <div ng-include="'../../navbar.html'"></div>
  <div ng-show="main.error.length" uib-alert class="alert-danger" close="main.closeAlert()">{{main.error}}</div>

  <div class="jumbotron text-center">
    <h1>Rohit's Antiques</h1>
  </div>

  <div class="row">
    <div class="col-sm-4">
      <div class="list-group">

        <div class="row">
          <div class="col-lg-12">
            <div class="input-group">
              <input type="text" ng-model="filterText" class="form-control" placeholder="Search for...">
              <span class="input-group-btn">
              </span>
            </div><!-- /input-group -->
          </div><!-- /.col-lg-6 -->
        </div>
        <br />
        <a ng-click="main.selectedProduct=product" ng-class="{'active': main.isSelected(product.id)}" class="list-group-item link" ng-repeat="product in main.products | filter:filterText">
          <img  ng-src="{{product.image.src}}" alt="{{ product.product_id }}">
            <h4 class="list-group-item-heading">{{product.title}}</h4>
            <!-- <p class="list-group-item-text" ng-bind-html="product.body_html | limitTo: 100"></p> -->
        </a>
      </div>
    </div>
    <div class="col-sm-8">
      <div class="well product-well">
        <h5 ng-if="!main.selectedProduct"> Please select a product.</h5>

        <div class="media">
          <div class="media-left">
            <a href="#">
              <img  ng-src="{{main.selectedProduct.image.src}}" alt="{{ main.selectedProduct.product_id }}">
            </a>
          </div>
          <div class="media-body">
            <h4 class="media-heading"><a ng-href="/products/{{main.selectedProduct.id}}">{{main.selectedProduct.title}}</a></h4>
            <p class="list-group-item-text" ng-bind-html="main.selectedProduct.body_html | limitTo: 100"></p>
            <h5>Variants</h5>
            <div ng-repeat="variant in main.selectedProduct.variants">{{variant.title}} | {{variant.inventory_quantity}} unit(s)</div>

          </div>
        </div>

      </div>
    </div>
  </div>

</div>
